<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transfer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/cover/">
</head>
<body>
<header th:insert="header :: header"></header>
<div class="container">
    <main>
        <div class="py-5 text-center">
            <h2>Transfer</h2>
        </div>
        <div class="row g-3">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Your Bank Cards</span>
                    <span class="badge bg-secondary rounded-pill" th:text="${userBankCards.size()}"/>
                </h4>
                <ul class="list-group mb-3">
                    <li th:each="bankCard : ${userBankCards}" class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0" th:text="${bankCard.getNumber()}"/>
                            <small class="text-muted">............</small>
                        </div>
                        <div>
                            <p class="text-muted" th:text="${bankCard.getKZTCurrency()} + 'Tg'"/>
                            <p class="text-muted" th:text="${bankCard.getUSDCurrency()} + '$'"/>
                            <p class="text-muted" th:text="${bankCard.getEURCurrency()} + '€'"/>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Billing transfer</h4>
                <form class="needs-validation" novalidate="">
                    <div class="row g-3">
                        <div class="col-md-5">
                            <label for="bankCard" class="form-label">Bank Card</label>
                            <select class="form-select bankCard" id="bankCard" required="">
                                <option value="">Choose...</option>
                                <option th:each="bankCard : ${userBankCards}" th:value="${bankCard.getId()}"
                                        th:text="${bankCard.getNumber()}"/>
                            </select>
                            <div class="invalid-feedback">
                                Please select a Bank Card.
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="currency" class="form-label">Currency Type</label>
                            <select class="form-select currency" id="currency" required="">
                                <option value="">Choose...</option>
                                <option th:each="exchangeRate : ${exchangeRates}" th:value="${exchangeRate.getId()}" th:text="${exchangeRate.getCurrency()}"/>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a Currency.
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="amount" class="form-label">Transfer amount</label>
                            <input type="number" class="form-control amount" id="amount" placeholder="0" required="">
                            <div class="invalid-feedback">
                                Transfer amount required.
                            </div>
                        </div>
                    </div>
                    <hr class="my-4">
                    <hr class="my-4">
                    <h4 class="mb-3">Payment</h4>
                    <div class="my-3">

                    </div>
                    <div class="row gy-3">
                        <div class="col-md-6">
                            <label for="cc-number" class="form-label">Bank Card number</label>
                            <input type="number" class="form-control cardNumber" id="cc-number" placeholder="****`****`****`****" required="">
                            <div class="invalid-feedback">
                                Bank Card number is required
                            </div>
                        </div>
                    </div>
                    <hr class="my-4">
                    <button class="w-100 btn btn-primary btn-lg transfer" type="submit">Transfer money</button>
                </form>
            </div>
        </div>
    </main>
</div>
<header th:insert="footer :: footer"></header>
</body>
</html>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('.transfer').click(function (event) {
            event.preventDefault();
            let cardNumber = parseInt($('.cardNumber').val());
            let amount = parseFloat($('.amount').val());
            let bankCardId = parseInt($('.bankCard').val());
            let currencyIndex = parseInt($('.currency').val());
            console.log(amount);
            console.log(bankCardId);
            console.log(currencyIndex);
            $.ajax({
                url: "http://localhost:8080/transfer/" + bankCardId + "/" + amount + "/" + currencyIndex  + "/" + cardNumber,
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data, textStatus, jqXHR) {
                    console.log(data);
                    console.log(textStatus);
                    console.log(jqXHR);
                    alert(data["response"]);
                },
                error: function (data, textStatus, jqXHR) {
                    console.log(data);
                    console.log(textStatus);
                    console.log(jqXHR);
                    alert("Transfer call Eror");
                }
            });
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>